<h1>How Will This All End?</h1>
<p>We do not know how we will die. </p>
<p>But we do know how others have. Pinpoint a  demographic, geographic, and historic group to visualize their most common causes of death.</p>
<div id = "map"></div>
<!-- Modal for choosing demographic characteristics -->
<div id ="pick" class="ui modal">
  <i class="close icon"></i>
  <p>Select Demographic Characteristics</p>
  <%=search_form_for @search, :html => {:id=> "form_id"} do |f|  %>

		<div>
			<input type="hidden" id="q_state_eq" value="">
			<%= f.label :race_eq, "Race:" %>
			<%= f.select :race_eq, options_for_select(['All Races', 'White', 'Black', 'Am Indian/AK Native', 'Asian/Pac Islander', 'Other Races']) %>
			<%= f.label :ethnicity_eq, "Hispanic Origin:" %>
			<%= f.select :ethnicity_eq, options_for_select(['All', 'Non-Hispanic', 'Hispanic']) %>
			<%= f.label :sex_eq, "Sex:" %>
			<%= f.select :sex_eq, options_for_select(['Both Sexes', 'Females', 'Males']) %>
			<%= f.label :age_eq, "Age (in years):" %>
			<%= f.select :age_eq, options_for_select(['All Ages', '<1', '5-9', '10-14', '15-24', '25-34', '35-44', '45-54', '55-64', '65-74', '75-84', '85+']) %>
			<%= f.submit "Search"%>

		</div>
	<% end %>

<!-- Change to show when submit is clicked -->
<div id="bubbles">
<h4>Top Causes of Death for  
	<% unless @demographics[0] == nil %>
		for
		<% if @demographics[0].race == "All Races" %>
		<%= " all races of" %>
		<% else %>
		<%= @demographics[0].race  %> 
		<% end %>

		<% if @demographics[0].ethnicity == "All" %>
		<%= "Hispanic and Non-Hispanic" %>
		<% else %>
		<%= @demographics[0].ethnicity %>
		<% end %>

		<% if @demographics[0].sex == "Both Sexes" %>
		<%= "Males and Females"%>
		<% else %>
		<%= @demographics[0].sex %>
		<% end%>
		<% if @demographics[0].age == "<1" %>
		<%= "less than 1 year old" %>
		<% elsif @demographics[0].age == "All Ages" %>
		<%= "of All Ages" %>
		<% else %>
		<%= @demographics[0].age + " Years Old" %>
		<% end %>
		from 
		<% if @demographics[0].state == "United States" %>
		<%= "the United States" %>
		<% else %>
		<%= @demographics[0].state%>.
		<% end %>
	<% end %></h4>
	<button class="ui brown basic button" id="click1999">1999</button>
	<button id="click2000">2000</button>
	<button id="click2001">2001</button>
	<button id="click2002">2002</button>
	<button id="click2003">2003</button>
	<button id="click2004">2004</button>
	<button id="click2005">2005</button>
	<button id="click2006">2006</button>
	<button id="click2007">2007</button>
	<button id="click2008">2008</button>
	<button id="click2009">2009</button>
	<button id="click2010">2010</button>
	<button id="click2011">2011</button>
	<button id="click2012">2012</button>
	<button id="click2013">2013</button>
	<% unless params[:q]==nil  %>
		<div id="simpleChart"></div>
</div>
	<% end %>
</div>


	<div class="slider"></div>
	


	<% unless params[:q]==nil  %>
	<h3>CHOSEN DEMOGRAPHIC:</h3>
	<% @demographics.each do |demographic| %>
		<div>
			State Chosen: <%= demographic.state %>
			Race Chosen: <%= demographic.race%>
			Sex Chosen: <%= demographic.sex %>
			Hispanic Origin? <%= demographic.ethnicity %>
			Age Range Chosen: <%= demographic.age %>
			Year Chosen: <%= demographic.year %> 
			<strong><%= demographic.id %></strong>

		</div>
	<% end %>


	<h3>Associated Figures</h3>
	<% @figuresYears.each do |year| %>
	<div>
		<% year.each do |figure| %>

			Number: <%= figure.number %>
			Percentage: <%= figure.percent %>
			Dem_id: <%= figure.demographic_id %>
			Death_id: <%= figure.death_id %>
			ID: <%= figure.id %>
			<strong>Death ID: <%= figure.death_id %></strong>
			<% @deaths.each do |death| %>
				<% if figure.death_id == death.id %>
				CAUSE: (<%= death.cause %>)
				<% end %>
			<% end %>
		<% end %>
	</div>
	<% end %>
	<% end %>

