<h1 style="text-align:center">How Will This All End?</h1>
<div class="corner"><%= link_to "About/User's Guide", about_path %></div>
<div id = "map"></div>
<div id="usa" class="fa fa-globe"></div>
<!-- Modal for choosing demographic characteristics -->
<div id="blackScreen">
<div id ="pick" class="ui basic modal">
<!-- option picker section of modal -->
  <i class="close icon"></i>
  	
 <div id="options">
  <%=search_form_for @search, :html => {:id=> "form_id"} do |f|  %>

		<div id="searchForm">
			<input type="hidden" id="q_state_eq" value="">
			<%= f.label(:race_eq, "Race:", {:class => 'label'}) %>
			<%= f.select(:race_eq, ['All Races', 'White', 'Black', 'Am Indian/AK Native', 'Asian/Pac Islander', 'Other Races'], {}, {:class => 'ui selection dropdown'}) %>
			<%= f.label(:ethnicity_eq, "Hispanic Origin:", {:class => 'label'}) %>
			<%= f.select(:ethnicity_eq, ['All', 'Non-Hispanic', 'Hispanic'], {}, {:class => 'ui selection dropdown'}) %>
			<%= f.label(:sex_eq, "Sex:", {:class => 'label'}) %>
			<%= f.select(:sex_eq, ['Both Sexes', 'Females', 'Males'], {}, {:class => 'ui selection dropdown'}) %>
			<%= f.label(:age_eq, "Age (Years):", {:class => 'label'}) %>
			<%= f.select(:age_eq, ['All Ages', '<1', '5-9', '10-14', '15-24', '25-34', '35-44', '45-54', '55-64', '65-74', '75-84', '85+'], {}, {:class => 'ui selection dropdown'}) %>
			<%= f.submit "Search", :id=> "submitMe", :class=>'ui inverted violet button'%>

		</div>
	<% end %>
	</div>

<!-- Bubble viz section -->
<div id="showBubbles">
 
	<button class="ui inverted grey button" id="click1999">1999</button>
	<button class="ui inverted grey button" id="click2000">2000</button>
	<button class="ui inverted grey button" id="click2001">2001</button>
	<button class="ui inverted grey button" id="click2002">2002</button>
	<button class="ui inverted grey button" id="click2003">2003</button>
	<button class="ui inverted grey button" id="click2004">2004</button>
	<button class="ui inverted grey button" id="click2005">2005</button>
	<button class="ui inverted grey button" id="click2006">2006</button>
	<button class="ui inverted grey button" id="click2007">2007</button>
	<button class="ui inverted grey button" id="click2008">2008</button>
	<button class="ui inverted grey button" id="click2009">2009</button>
	<button class="ui inverted grey button" id="click2010">2010</button>
	<button class="ui inverted grey button" id="click2011">2011</button>
	<button class="ui inverted grey button" id="click2012">2012</button>
	<button class="ui inverted grey button" id="click2013">2013</button>
	<button class="ui inverted violet button" id="changeDem">Clear</button>	
		<div id="simpleChart"></div>
		
	</div>
</div>
	<div class="slider"></div>

